[class *='col-']{
    position:sticky;
    bottom:0;
    margin-top:40px;
    padding:20px;
    width:100%;
    text-align: right;
    background-color: aqua;
}

@media only screen and (min-width: 600px){
    .col-1 {
    background-color:yellow;
    position:sticky;
    bottom:0;
    margin-top:40px;
    padding:20px;
    width:100%;
    text-align: left;
    }
}

@media only screen and (min-width: 768px){
    .col-1 {
    background-color: red;
    position:sticky;
    bottom:0;
    margin-top:40px;
    padding:20px;
    width:100%;
    text-align: center;
    }
}



